@using JqmMVC4Demo.Models;
@model IEnumerable<Post>

@{
    ViewBag.Title = "ReadServer";
}

@section PageStart{
<div data-role="page" data-theme="b" data-add-back-btn="true">
}

@section Header{
    <a href='#' class='ui-btn-left' data-icon='arrow-l' onclick="history.back(); return false">Back</a>
    <h1>@ViewBag.HeaderString</h1>
    <a href="/Home/Index">Home</a>
}

    <div data-role="content">
        <ul id="postList" data-role="listview"  data-inset="true">
        @foreach(Post post in Model)
        {
            <li>@Html.ActionLink(post.PostTitle,"ReadPost", new{ID=post.ID})</li>
        }
        </ul>
    </div>

@section Footer{
    <a href="/Account/Index" class='ui-btn-left'>Your account</a><h1>- MobileBlog -</h1>
}

@section PageEnd{
</div>
}
